export(psytkParseSurvey)
export(psytkReport)
export(psytkReadData)
export(psytkTable)
export(psytkReadTable)
export(psytkExtractNum)
export(psytkExtractPerc)
export(psytkExtractCount)
export(psytkExtractTail)
export(psytkExtractFromExperiment)
export(psytkExport)
export(psytkQ)
export(psytkRemoveData)
importFrom(openxlsx2, wb_workbook, wb_add_worksheet, wb_add_data, wb_save, wb_color, wb_dims)
importFrom(stats, median)
importFrom(utils, read.csv, read.table, tail)
importFrom(stats, setNames)
